/* #agbscontainer {
	background-color : white;
	border-color: #620000;
	border-style: solid;
	margin-top : 0%;
	width : 100%;
}
 */

#welcome {
	color : white;
	font-size : 25px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-style : solid;
    border-color : #620000;
    height : 95vh;
    position : relative ;
    margin-top : 1%;
    background-color : white;
}

#emptyrow {
	height:1%;
}

#agrow1div {
	border-style : solid;
    border-color : #620000;
	background-color:#620000;	
	/* height : 8%; */
}

#agrow1col6-1 {
	display: inline-block;  
    vertical-align: middle;
	color : white;
	text-transform : capitalize;
	font-size : 20px;
	margin : 5px;
	/* width : 95%; */
	/* background-color:pink; */
	vertical-align : middle;
}

#agrow1co6-2 {
	display: inline-block;
    vertical-align: middle;
}

.button {
    background-color: #620000;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-weight : Bold;
}

.button:hover {
    background-color: white;
    color: #620000;
}

#logoutbutton a {
	color : white;
}

#logoutbutton a:hover {
	color : #620000;
	text-decoration : none;
}

::-webkit-scrollbar {
    width: 20px;
    border-style:solid;
	border-right-width : 0px;
    border-top-width: 0px;
    border-bottom-width : 0px; 
    border-color : #620000;
    
}

::-webkit-scrollbar-thumb {
    background: #9f0000; 
    border-color : white;
    width: 80%;
}

#agrow2div {
	border-style : solid;
	border-color: white;
}

#agrow2col6-1 {
	width : 20%;
	/* background-color: violet; */
	border-color: white;
	border-style: solid;
	flex: 2;
	
}

#agrow2col6-2 {
	/* background-color : green; */
	border-color: #620000;
	border-style: solid;
	margin:1px;
	padding : 0px;

}


#footerdiv {
	background-color : #620000;
	position : absolute;
	bottom : 0;
	width:100%;
	text-align : center;
}

#footercol12-1div {
	background-color : #620000;
	color: white;
}

#sidenav {
	/* background-color : grey; */
	margin:1px
}

#grhead {
	background-color: #620000;
	color: white;
}

#grng {
	color: #620000; 
	border-color: #620000;
	border-style: solid;
}


#sidenav a {
	color : #620000;
}

#grng:hover,#sidenav a:hover {
	color:white;
	text-decoration : none;
	background-color : #9f0000;
	
}

#grag {
	color : white;
	border-color: #620000;
	border-style: solid;
	border-top-width : 0px;
	background-color : #9f0000;
}

/* #tablerow {
	color : #620000;
}

#tablerow : hover {
	color : white;
}

#tablerow a : hover {
	color : white;
}
 */

#tableheaderrow {
	color : white;
	background-color : #620000;	
}



#tablecolumn {
	width : 25% ;
}



/* 
#tablerow {
	height : 50px;
	border-style : solid;
}

#tablecolumn {
	width : 25% ;
}

#tableheadercolumn {
	text-align : center;
	width : 25%;
}

#tableheaderrow {
	background-color : #620000;
	color : white;
	height: 50px;
	border-style : solid;
} */

/* #tablemain {
	margin : 5px;
	border-style : solid ;
	border-color : #620000;
	height : 400px;
	overflow-y: scroll;
}  */

/* .tablemain {
	 border: 1px solid black;
	 border-collapse: collapse;
	 overflow-y : scroll;
} */
/* 
.tablemain td {
  border: 1px solid black;
}*/


#tablediv {
	height : 400px;
	margin : 0px;
} 

.tablehyper a{
	color : #e2b616;
	text-decoration : none;
}


/* #rowbutton {
	border : none;
	background-color : white;
}
 */

/* #gral:hover {
	background-color: #620000;
	color:white;
} */


#detailrow {
	
	height : 89%;
	border-style : solid;
	border-color : white;
	
}

#sidedetails {
	
	border-style : solid;
	border-color : white;
	margin : 10px;
	width : 30%;
	word-wrap: break-word;
	
}

#sidedetails h3 {
	color : #620000;
}

#commentscol {
	
	border-style : solid;
	border-color : #620000;
	margin-left : 6.5%;
	height : 98.8%;
	padding : 0px;
	
}


.commentitem {
	
	border-style : solid;
	border-color : #ffd7c4;
	text-align : left;
	margin : 0.5% 1% 0.5% 1%;
	background-color : white;	
	width : 98%;
	padding-left : 1%;
	padding-right : 1%;
	border-radius : 10px;
	
}


.commentitem1 {
	
	border-style : solid;
	border-color : #9e0101;
	text-align : left;
	margin : 0.5% 1% 0.5% 1%;
	background-color : white;	
	width : 98%;
	padding-left : 1%;
	padding-right : 1%;
	border-radius : 10px;	
}

.commentitem2 {
	
	border-style : solid;
	border-color : #166004;
	text-align : left;
	margin : 0.5% 1% 0.5% 1%;
	background-color : white;	
	width : 98%;
	padding-left : 1%;
	padding-right : 1%;
	border-radius : 10px;	
}









/* #tbcommentcol {
	width : 100px;
}

#tbcommentrow {
	width : 100px;
} */


/* .table tr {
	
}

.table td {
	width : 10%;
	padding : 0px;
	border : 0px;
} */



#commentstable td {
	
	width : 10%;
	padding : 0px;
	border : 0px;
}


#sendcomment {
	
	border-style : solid;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-color : #620000;
	height : 60%;
	display  : none;
}

/* 
#content{
  display:none;
}
#content.show{
  display:block; P.S: Use `!important` if missing `#content` (selector specificity).
}

 */
 
 
 /* 
 #hideshow {
 
 display : none;
 } */
 
 #entermessage2 {
 
 	border-style : solid;
	border-left-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-color : #620000;
	height : 9%;
 
 }
 
 
 #commentformdiv {
 
 	height : 70%;
 	width : 80%;
	border-style : solid;
	border-color : white;
	margin : 10%;
	
 
 }
 
 
 .form-control:focus {
  border-color: #620000;
/*   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
 */  box-shadow: inset 0 1px 1px rgba(98, 0, 0, 1), 0 0 8px rgba(98, 0, 0, 1);
}


#submitbutton {
	background-color : #620000;
	font-weight : bold;
	border-color : #620000;
	box-shadow: none;
}


#submitclosebutton {
	background-color : #620000;
	font-weight : bold;
	border-color : #620000;
	box-shadow: none;
}


#addcategoryrow2arrowdiv {
	
	margin-top : 2%;
	

}

#addcategoryrow2catlistdiv {
	
	margin-top : 5%;
	border-color: #620000;
	border-style: solid;
	padding : 0px;

}

#addcategoryrow2addcatdiv {
	
	margin-top : 10%;
	margin-left : 5%;

}

#openclosegrdiv {
	background-color : #620000;
	font-weight : bold;
	border-color : #620000;
	box-shadow: none;
}


