/* #ngbscontainer {
	background-color : white;
	border-color: white;
	border-style: solid;
	margin-top : 0%;
	width : 100%;
} */


.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-style : solid;
    border-color : #620000;
    height : 95vh;
    position : relative ;
    margin-top : 1%;
    background-color : white;
    
}

#emptyrow {
	height:1%;
}

#welcome {
	color : white;
	font-size : 25px;
}


#ngrow1div {
	border-style : solid;
	/* border-left-width : 0px;
	border-right-width : 0px;
	border-top-width : 0px; */
	border-color: #620000;
	background-color:#620000;
}

#agrow1col6-1 {
	display: inline-block;  
    vertical-align: middle;
	color : white;
	text-transform : capitalize;
	font-size : 20px;
	margin : 5px;
	/* width : 95%; */
	/* background-color:pink; */
	vertical-align : middle;
}

#agrow1co6-2 {
	display: inline-block;
    vertical-align: middle;
}

.button {
    background-color: #620000;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    font-sie : 15px;
    font-weight : Bold;
    
}

.button:hover {
    background-color: white;
    color: #620000;
}

#logoutbutton a {
	color : white;
}

#logoutbutton a:hover {
	color : #620000;
	text-decoration : none;
}


/* .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
} */

#ngrow2div {
	border-style : solid;
	border-color: white;
	margin : 1px;
}

#footerdiv {
	background-color : #620000;
}

#ngrow2col6-1 {
	width: 20%;
	/* background-color: violet; */
	border-color: white;
	border-style: solid;
}

#ngrow2col6-2 {
	width: 79%;
	/* background-color : green; */
	border-color: #620000;
	border-style: solid;
	margin:1px;
	position : relative;
	
	
}

#footerdiv {
	background-color : #620000;
	position : absolute;
	bottom : 0;
	width:100%;
	text-align : center;
}

#footercol12-1div {
	background-color : #620000;
	color: white;
}

#sidenav {
	/* background-color : grey; */
	margin:1px
}

#grhead {
	background-color: #620000;
	margin-top : 1px;
	color: white;
}

#grng {
	color : white;
	border-color: #620000;
	border-style: solid;
	border-top-width : 0px;
	background-color : #9f0000;
}

 #sidenav a {
	color : #620000;
}

#grag:hover,#sidenav a:hover {
	color:white;
	text-decoration : none;
	background-color : #9f0000;
}

#grag {
	color: #620000; 
	border-color: #620000;
	border-style: solid;
	border-top-width : 0px;
}


/* 

#tablerow {
	height : 50px;
	border-style : solid;
}

#tablecolumn {
	width : 25% ;
}

#tableheadercolumn {
	text-align : center;
	width : 25%;
}

#tableheaderrow {
	background-color : #620000;
	color : white;
	height: 50px;
	border-style : solid;
}

#tablemain {
	margin : 5px;
	border-style : solid ;
}

#gral:hover {
	background-color: #620000;
	color:white;
} */

/* #formrowdiv1 {
	border-style : solid;
}

#formrowdiv2 {
	border-style : solid;
}

#formrowdiv3 {
	border-style : solid;
}

#formrowdiv4 {
	border-style : solid;
}
 */
 
#formheading {
	background-color: #620000;
	color: white;
}

#formdiv {
    width : 400px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}



